.navbar {
  background-color: #F9FAFB;
  color: #1F2937;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: #4CAF93;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #1F2937;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #4CAF93;
}

.cta {
  background-color: #4CAF93;
  color: white;
  padding: 0.5rem 1rem;
  border-radius:  7px;
  font-weight: 600;
}

.cta:hover {
  background-color: #3b8e7c;
}
