.navbar {
  background-color: #F9FAFB;
  color: #1F2937;
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 10;
  height:8vh ;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #4CAF93;
}
.gs-btn{
  background-color: #f5eded;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 17px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: flex;
  max-width: fit-content;
}

.gs-btn:hover{
  font-weight: bold;
  color: white;
  font-size: large;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  align-items: center;

}

.nav-links a {
  text-decoration: none;
  color: #1F2937;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #03974d;

}



/* Hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #1F2937;
}

/* Responsive Design */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70%;
    right: 0;
    background-color: white;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    display: none;
    padding: 1rem 2rem;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    width: 100%;
    margin-left: 2rem;
    margin-bottom: 0rem;
  }
}
