.swiper-slide {
  opacity: 0 !important;
  transform: scale(0.95); 
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.swiper-slide-active {
  opacity: 1 !important;
  transform: scale(1);
  z-index: 1;
}
